.App {
    text-align: center;
    /* background: #191A1C; */
    /* height: 100vh; */
    color: red;
    /* font-weight: bold; */
    font-family: 'Sigmar One', cursive;
    /* font-size: 3rem; */
}

body {
    min-height: 100vh;
    background: linear-gradient(-35deg, rgb(247, 247, 161), rgb(206, 206, 61));
}

.finder {
    display: flex;
    justify-content: center;
}

.grass>img {
    /* the '>' finds any element on the right which is a direct child of the element on the left */
    width: 120px;
    height: auto;
}

.pokedex {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.pokemon {
    width: 25%;
    height: 180px;
}

.pokemon input {
    display: block;
    width: 100%;
}

.pokemon input::placeholder {
    text-transform: capitalize;
}

.pokemon h3 {
    text-transform: capitalize;
}

button {
    border: none;
    border-radius: 15%;
    background: rgb(138, 138, 245);
    margin: 5px;
}

.pokemon button:hover {
    background: rgb(104, 104, 201);
    cursor: pointer;
}

.editor input {
    border-radius: 7px;
    border: 1px solid black;
    padding: .2rem
}

.editor input:focus {
    outline: none;
    border-color: blue;
}