.App {
    text-align: center;
    /* background: #191A1C; */
    /* height: 100vh; */
    /* color: white; */
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
    /* font-size: 3rem; */
}

.finder {
    display: flex;
    justify-content: center;
}

.finder img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.grass>img {
    width: 120px;
    height: auto;
}

.pokedex {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.pokemon>h4 {
    padding: 20px;
}